.search-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: 35px;
  width: 400px;
  background-color: white;
  border: 1px solid #000;
}

.search-icon {
  color: rgb(53, 53, 53);
  margin: 0 5px;
}

.input-style {
  border: none;
  outline: none;
  appearance: none;
  color: rgb(34, 34, 34);
  width: 320px;
}

.clear-input-btn {
  background: transparent;
  font-size: 18px;
  border: none;
  color: rgb(34, 34, 34);
  outline: none;
  cursor: pointer;
  width: 20px;
  padding: 0 10px;
}
